@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  min-width: 320px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.App {
  background-color: hsl(228, 33%, 97%);
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.card {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px hsl(220, 20%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  padding: 1.5rem;
  background-color: white;
  width: 100%;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}
.reply-container {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 2px solid hsl(223, 20%, 93%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* card-top */
.card-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card-top img {
  width: 30px;
}
.username {
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}
.date {
  color: hsl(211, 10%, 45%);
  text-align: center;
}
/* card-top active user tag */
.active-user {
  background: #5457b6;
  border-radius: 3px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 10px;
  padding: 2px 10px 3px;
}
/* comment */
.replying-to {
  font-weight: 700;
  color: hsl(238, 40%, 52%);
  margin-right: 5px;
}
.comment {
  color: hsl(211, 10%, 45%);
  word-wrap: break-word;
}
/* card bottom */
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  border-radius: 10px;
  background: hsl(228, 33%, 97%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 1rem;
  justify-content: space-between;
  min-width: 112px;
}
/* card bottom - score btns */
.minus-btn {
  margin-top: -6px;
}
.score button {
  padding: 3px;
}
.reply {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}
.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 700;
}
/* current user comment menu */
.comment-menu {
  display: flex;
  gap: 1rem;
  font-weight: 700;
}
.delete {
  color: hsl(358, 79%, 66%);
}
.edit {
  color: hsl(238, 40%, 52%);
}
/* add comment form */
form {
  width: 100%;
}
.add-comment-container {
  width: 90%;
}
.add-comment__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.add-comment__bottom img {
  width: 30px;
}
.add-comment__send-btn {
  color: white;
  background-color: hsl(238, 40%, 52%);
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
}
textarea#reply-text {
  width: 100%;
  min-height: 80px;
  border-radius: 10px;
  border: 1px solid hsl(223, 19%, 93%);
  padding: 1rem;
  resize: none;
}
textarea#reply-text:focus {
  outline: 1.5px solid hsl(238, 40%, 52%);
}
/* score voting color */
.active svg path {
  fill: #f16c0e;
}
.voted {
  color: #f16c0e;
}
/* delete confirmation modal */
.delete-confirmation-wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.delete-confirmation-wrapper .delete-container {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
}
.delete-container .title {
  font-weight: 700;
  font-size: 1.3rem;
  color: hsl(212, 24%, 26%);
}
.confirmation-message {
  color: hsl(211, 10%, 45%);
}
.delete-container .btn-container {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
}
.btn-container button {
  color: white;
  border: 0;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  cursor: pointer;
}
.cancel-btn {
  background-color: hsl(211, 10%, 45%);
}
.delete-btn {
  background-color: hsl(358, 79%, 66%);
}
/* hover */
@media (hover) {
  .score .btn:hover svg path {
    fill: #5457b6;
  }
  .score .btn.active:hover svg path {
    fill: #d46211;
  }
  .add-comment__send-btn:hover {
    opacity: 0.6;
  }
  .btn-container button:hover {
    opacity: 0.6;
  }
  .edit:hover,
  .delete:hover,
  .reply:hover {
    opacity: 0.6;
  }
}
